@import "../../scss/mixins";

.project {
    padding: 4rem 2rem;
    min-height: 56.6rem;
    animation: fadeIn 2s forwards;

    &__section {
        animation: fadeInUp 2s forwards;
        height: 40rem;
        display: flex;
        position: relative;
        margin-bottom: 15rem;

        &3 {
            margin-bottom: 0rem;
        }

        @include respond(tab-port) {
            display: none;
        }

        @include respond(phone) {
            display: none;
        }

        @include respond(tab-land) {
            margin-bottom: 7.5rem;
        }
    }

    &__left {

        flex: 0 0 60%;

        &1 {
            flex: 0 0 40% !important;
        }

    }

    &__right {
        flex: 1;
        text-align: right;

    }

    &__img {
        width: 100%;
        filter: brightness(70%);
        box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);

        &1 {
            width: 70%;

        }
    }

    &__headingTertiary {
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--primary);
    }

    &__headingSecondary {
        font-weight: 700;
        font-size: 2.2rem;
        color: var(--lightest-slate);
        text-decoration: none;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
            color: var(--primary);
        }
    }

    &__description {
        background-color: #112240;
        letter-spacing: 0.6px;
        width: 55rem;
        padding: 2rem;
        font-size: 1.4rem;
        margin-top: 1rem;
        border-radius: 4px;
        box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
        color: var(--light-slate);


        &Container {
            position: absolute;
            right: 0;
            z-index: 3;

            &1 {
                left: 0 !important;
            }

        }
    }

    &__tags {
        color: var(--light-slate);
        margin-top: 1rem;
        font-size: 1.4rem;
    }

    &__icons {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.6rem;

        &1 {
            justify-content: flex-start;
        }
    }

    &__icon {
        width: 2rem;
        height: 2.2rem;
        fill: var(--light-slate);
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;

        &:hover {
            fill: var(--primary);
        }
    }


    // --------------------------------- for mobilesssss ---------------------------------------------

    &Resp {
        &__list {
            list-style: none;
            list-style: none;
            padding: 0px;
            margin: 50px 0px 0px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 15px;
            position: relative;
            animation: fadeInUp 2s forwards;
            display: none;

            @include respond(phone) {
                display: grid;
            }

            @include respond(tab-port) {
                display: grid;
            }
        }

        &__items {
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            padding: 2rem 1.75rem;
            border-radius: 4px;
            background-color: #112240;
            cursor: pointer;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);



            &1 {
                background: url("../../assets/images/1.png");
                background-position: center;
                background-size: cover;


            }

            &2 {
                background: url("../../assets/images/2.png");
                background-position: center;
                background-size: cover;
            }

            &3 {
                background: url("../../assets/images/3.png");
                background-position: center;
                background-size: cover;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 10px 60px -15px rgba(2, 12, 27, 0.7);
            }
        }

        &__card {
            &Top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1.6rem;
            }

            &Body {
                margin: 1.6rem auto;

                &Heading {
                    font-weight: 700;
                    font-size: 2.2rem;
                    color: var(--primary);
                }

                &Description {
                    color: #a8b2d1;
                    font-size: 1.4rem;
                    margin-top: 0.6rem;
                }
            }

            &Link {
                display: flex;
                align-items: center;
            }

            &Folder {
                width: 3rem;
                height: 3rem;
                fill: var(--primary);
            }
        }

        &__icon {
            width: 2rem;
            height: 2rem;
            fill: var(--light-slate);
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;

            &:hover {
                fill: var(--primary);
            }
        }

        &__tags {
            color: var(--light-slate);
            margin-top: 1rem;
            font-size: 1.4rem;
        }
    }
}