.text-animate-fast {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 0.5s forwards;
    min-width: 10px;
}

.text-animate-fast-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    cursor: pointer;

    &:hover {
        animation: rubberBand 1s;
        color: var(--primary);
    }
}

@for $i from 1 through 35 {
    .text-animate-fast._#{$i} {
        animation-delay: #{calc($i/13)}s;
    }
}