:root {
    --primary: #ffd700;
    --secondary: #0a192f;
    --secondary-shadow: rgba(2, 12, 27, 0.7);
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #ffffff;
}